.title{
	text-align: center;
}
table {
	border-collapse: collapse;
	position: relative;
  }
  th {
	text-transform: uppercase;
  }
  
  tr {
	border-bottom: 1px solid black;
  }
  th, td {
	padding: 10px;
  }
  
  .search-modal {
	position: absolute;
	top: 1.75rem;
	left: 3rem;
	visibility: hidden;
	background: rgba(150,150,150,1);
	padding: 5px;
	border-radius: 5px;
  }
  
  .search-modal.show {
	visibility: visible;
	animation: fadeIn 0.4s;
  }
  
  @keyframes fadeIn {
	  from {opacity: 0;}
	  to {opacity:1 ;}
  }